#한식:focus, #중식:focus, #일식:focus, #서양식:focus, #기타외국식:focus,#기타_음식점업:focus{
    background-color: gold;
  }

#기타외국식,#기타_음식점업{
    background-color: white;
    color:black;
    border-color: black;
    width: 350px;
    height:50px;
    font-size:35px;
    margin:20px;
    border: solid 2px grey;
    border-radius: 100px;
}
#한식, #중식, #일식, #서양식{
    background-color: white  ;
    color:black  ;
    border-color: black;
    margin:10px;
    width: 250px;
    height:50px;
    font-size:35px;
    border: solid 2px grey;
    border-radius: 100px;
   
}
@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    #한식, #중식, #일식{
        background-color: white;
        color:black;
        border-color: black;
        width: 65px;
        height:30px;
        font-size: 20px;
        border: solid 2px grey;
        border-radius: 12px;
        margin-left: -5px;
    }
    #서양식{
        background-color: white;
        color:black;
        border-color: black;
        width: 80px;
        height:30px;
        font-size: 20px;
        border: solid 2px grey;
        border-radius: 12px;
        margin-left: -5px;
    }
   
    #기타외국식{
        background-color: white;
        color:black;
        border-color: black;
        width: 130px;
        height:40px;
        font-size:20px;
        border: solid 2px grey;
        border-radius: 12px;
        margin:10px;
    }
    #기타_음식점업{
        background-color: white;
        color:black;
        border-color: black;
        width: 150px;
        height: 40px;
        font-size:20px;
        border: solid 2px grey;
        border-radius: 12px;
        margin:10px;
    }
   
   
   }